<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>

<div id="contacts">

  <div id="contacts">
    <div data-controller="search">
      <%= form_with(method: :get) do |form| %>
        <%= form.label :query, "Search by name:" %>
        <%= form.text_field :query, data: { action: "input->player-search#search" }, autocomplete: "off", value: params[:query] %>
      <% end %>
    </div>
    <%= render partial: 'contacts', locals: {contacts: @contacts} %>
    </div>
  <div>
    <%= render partial: "paginator", locals: {pagy: @pagy} %>
  </div>
</div>

<%= link_to "New contact", new_contact_path %>
