  <div data-controller="search">
    <%= form_with(method: :get) do |form| %>
      <%= form.label :query, "Search by name:" %>
      <%= form.text_field :query, data: { action: "input->search#search" }, autocomplete: "off", value: params[:query] %>
    <% end %>
  </div>
<div id="players">
  <%= render partial: 'players/players', locals: { players: @players } %>
</div>
  <%= render partial: "paginator", locals: { pagy: @pagy } %>
