<!DOCTYPE html>
<html>
  <head>
    <title>Wood</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="radiolabel" data-radiolabel-duration-value="2">
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-12" id="app" data-reflex-root="#app">
         <%= yield %>
       </div>
     </div>
   </div>
  </body>
</html>
